@model IEnumerable<CasaEventos.Models.Casa>

@{
    ViewData["Title"] = "Index";
}


<h1>Casas</h1>

<p>
    <a asp-action="Create">Criar nova casa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome da Casa
            </th>
            <th>
                Endereço da Casa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CasaId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.CasaId">Deletar</a> 
            </td>
        </tr>
}
    </tbody>
</table>