@model IEnumerable<CasaEventos.Models.Casa>

@{
    ViewData["Title"] = "Inicio";
}


<h1 class="text-light" style="text-align: center;">CASAS</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar nova casa</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                Nome da Casa
            </th>
            <th>
                Endereço da Casa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CasaId" class="btn btn-warning">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.CasaId" class="btn btn-danger">Deletar</a> 
            </td>
        </tr>
}
    </tbody>
</table>