@model IEnumerable<CasaEventos.Models.Genero>

@{
    ViewData["Title"] = "Index";
}


<h1>Generos</h1>

<p>
    <a asp-action="Create">Criar novo genero</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Genero
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GeneroNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GeneroId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.GeneroId">Deletar</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
