@page
@model LoginModel


@{
    ViewData["Title"] = "Log in";
    
}


<link rel="stylesheet" href="/Style/LoginPersonalizado.css" />


<div class="container">
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <section>
            <form id="account" method="post" class="form-signin">
                <div class="card card-signin my-5">
                <div class="card-body">
                <h5 class="card-title text-center">Logar</h5>
                <div asp-validation-summary="All" class="text-danger"></div>
                
                <div class="form-label-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Endereço de Email">
                <label asp-for="Input.Email">Email </label> 
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-label-group">
                <input asp-for="Input.Password" class="form-control" placeholder="Senha">
                <label asp-for="Input.Password">Senha</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>    
                </div>

                <div class="custom-control custom-checkbox mb-3">
                <div class="checkbox">
                <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input" id="Input.RememberMe">
                <label asp-for="Input.RememberMe" class="custom-control-label" for="Input.RememberMe">Lembrar minha senha?</label>
                <span asp-validation-for="Input.RememberMe" class="text-danger"></span>
                </div>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Crie uma nova conta</a>
                    </p>
                </div>
                </div>
                </div>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
