@model CasaEventos.DTO.EventoDTO;

@{
    ViewData["Title"] = "Editar";
}

<h1 class="text-light">EDITAR</h1>

<hr />
<div class="row text-light">
    <div class="col-md-4  mx-auto">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventoId" />
            <div class="form-group">
                <label asp-for="NomeEvento" class="control-label"></label>
                <input asp-for="NomeEvento" class="form-control" />
                <span asp-validation-for="NomeEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacidadeEvento" class="control-label"></label>
                <input asp-for="CapacidadeEvento" class="form-control" />
                <span asp-validation-for="CapacidadeEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeIngressos" class="control-label"></label>
                <input asp-for="QuantidadeIngressos" class="form-control" />
                <span asp-validation-for="QuantidadeIngressos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEvento" class="control-label"></label>
                <input asp-for="DataEvento" class="form-control" placeholder="MM/dd/yy HH:mm" />
                <span asp-validation-for="DataEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorIngresso" class="control-label"></label>
                <input asp-for="ValorIngresso" class="form-control" />
                <span asp-validation-for="ValorIngresso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Casa" asp-items='@(new SelectList(@ViewBag.Casa, "CasaId", "Nome"))' class="form-control"></select>
            </div>
            <div class="form-group">  
               <select asp-for="Genero" asp-items='@(new SelectList(@ViewBag.Genero, "GeneroId", "GeneroNome"))' class="form-control"></select>
            </div>
              <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" type="file" name="files" class="form-control">
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-light">Voltar para a Lista</a>
</div>

