@model CasaEventos.Models.Genero

<h4 style="color: red">Não existem Generos cadastrados, crie um novo ou retorne ao inicio</h4>
    <div class="form-group">
        <a asp-controller="Generos" asp-action="Create" class="btn btn-primary">Criar novo Genero</a>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-info">Voltar para o inicio</a>
    </div>