@model CasaEventos.Models.Casa

<h4 style="color: red">Não existem Casas de Show cadastradas, crie uma nova ou retorne ao inicio</h4>
    <div class="form-group">
        <a asp-controller="Casas" asp-action="Create" class="btn btn-primary">Criar nova casa</a>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-info">Voltar para o inicio</a>
    </div>